/* pages/refund/index.wxss */

.section{
  width: 750rpx;
  height: 88rpx;
  background-color: white;
  margin-top: 10rpx;
  font-size:28rpx;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height: 88rpx;
  
}
.picker{
  margin-left: 20rpx;
}
.picker image{
  width: 16px;
  height: 12px;
  float: right;
  margin-top: 30rpx;
  margin-right: 20rpx;
}
.content{
  width: 510rpx;
  height: 100%;
  font-size:24rpx;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(51,51,51,1);
  margin-left: 20rpx;
  margin-top: 40rpx;
  
}
.content text{
  width: 520rpx;
  float: left;
  margin-top: 10rpx;
}
.add{
  width:750rpx;
  height:88rpx;
  background:linear-gradient(90deg,rgba(255,6,26,1),rgba(255,41,94,1));
  font-size:30rpx;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(244,244,244,1);
  line-height:88rpx;
  text-align: center;
  position: absolute;
  bottom:0;
  left: 0;
}