.blank-page image {
  width: 80px;
  height: 80px;
}

.none_tip {
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
}

/* .blank-page text {
  color: #55595F;
  font-size: 16pt;
  margin-top: 15px;
} */

/* 地址列表 */

.address-list {
  margin-bottom: 100rpx;
}

.address-item {
  padding: 28rpx 30rpx;
  margin-bottom: 20rpx;
  background: #fff;
}

/* .address-item view {
  overflow: hidden;
} */

.item-operate {
  display: flex;
  justify-content: space-between;
}

.address-item .item-info {
  font-size: 32rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 500;
  color: rgba(41, 38, 33, 1);
  height: 34rpx;
  line-height: 34rpx;
  margin-bottom: 12rpx;
}

.address-item .item-info text {
  margin-right: 16rpx;
}

.address-item .item-detail {
  font-size: 28rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(41, 38, 33, 1);
  width: 100%;
  margin-bottom: 25rpx;
  padding-bottom: 38rpx;
  border-bottom: 1rpx solid rgba(245, 242, 237, 1);
}

/* .address-item .item-detail text {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  align-content: center;
} */

.address-item .item-operate icon {
  margin-right: 8rpx;
}

.address-item .item-operate button {
  width: 120rpx;
  height: 60rpx;
  line-height: 60rpx;
  color: #353535;
  font-size: 26rpx;
  padding: 0;
  /* border-radius: 6rpx; */
}

.address-item .item-operate .moren {
  display: flex;
  margin-right: 20rpx;
}

.address-item .item-operate .moren image {
  width: 30rpx;
  height: 30rpx;
  margin-right: 8rpx;
}

.address-item .item-operate .moren .default {
  font-size: 24rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.address-item .item-operate .moren .defaultColor {
  font-size: 24rpx;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: rgba(255, 4, 68, 1);
}

.address-item .item-operate .edit {
  display: flex;
  margin-right: 30rpx;
}

.address-item .item-operate .delete {
  display: flex;
  margin-right: 20rpx;
}

.address-item .item-operate .edit image,
.address-item .item-operate .delete image {
  width: 28rpx;
  height: 32rpx;
  margin-right: 8rpx;
}

.address-item .item-operate .edit text, .address-item .item-operate .delete text {
  font-size: 24rpx;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.edit_delete {
  display: flex;
}

/* 添加收货地址 */

.add-address {
  position: fixed;
  width: 560rpx;
  bottom: 60rpx;
  left: 13%;
  height: 68rpx;
  line-height: 68rpx;
  text-align: center;
  color: #fff;
  background: rgba(255, 4, 68, 1);
  font-size: 32rpx;
  border-radius: 34rpx;
}

.hint {
  font-size: 32rpx;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #55595f;
  margin-top: 15px;
}

.bottom {
  font-size: 18pt;
}
