<!--index.wxml-->
<import src="/pages/common/red.wxml" />
<import src="/pages/common/list.wxml" />
<view class="container product-list">

    <!-- 列表 -->
    <scroll-view class='scroll-view-item_H' scroll-y="true" bindscrolltolower="handleLoadMore">
        <view class="tabbar tabbarshop">
            <block wx:for-items="{{types}}">
                <view class="sortItem {{item.active ? 'activeshop' : ''}}" id='{{index}}' bindtap='tapSortWay'>
                    <text>{{item.name}}</text>
                    <image class="sortPrice" wx:if="{{item.name=='价格' && price_sort == 0}}" src="../../image/sort.png"></image>
                    <image class="sortPrice" wx:if="{{item.name=='价格' && price_sort == 2}}" src="../../image/up.png"></image>
                    <image class="sortPrice" wx:if="{{item.name=='价格' && price_sort == 1}}" src="../../image/down.png"></image>
                </view>
            </block>
        </view>

        <view class="section index-item">
            <block wx:for="{{products}}" wx:for-item="goods">
                <template is="products" data="{{goods}}" />
            </block>
            <!-- <block wx:for-items="{{products}}">

                <view class="item"  id="{{index}}" bindtap="tapProduct">
                        <image src="{{item.default_photo.large ? item.default_photo.large : '../../image/default_img_product_list.png'}}" mode = "aspectFill"/>

                        <view class='desc'>
                            <text class="title">{{item.name}}</text>
                            <text class="price">￥{{item.current_price}}</text>
                             <view> 
                              <text class="sales">{{item.sales_count}}人付款</text>
                              <text class="sales">{{item.review_rate}}好评</text>
                            </view> 
                        </view>
                        
                </view>
            </block> -->



            <view class="tips">
                <view wx:if="{{ hasMore }}">
                    <image src="/image/loading.gif" mode="aspectFill"/>
                    <text>玩了命的加载中...</text>
                </view>
                <view wx:else>
                    <text>没有更多内容了</text>
                </view>
            </view>

        </view>
    </scroll-view>
      <loading hidden="{{ !loading }}">加载中...</loading>
</view>
<template is="red" data="{{showView,commmon_paket,api_host}}" />
