<!--pages/relativeProduct/index.wxml-->
<view class="container relative-product-list">

  <!-- 列表 -->
  <scroll-view class='scroll-view-item_H' scroll-y="true" bindscrolltolower="handleLoadMore" bindscrolltoupper="onPullDownRefresh">

    <view class="section index-item">
      <block wx:for-items="{{products}}">

        <view class="item" id="{{index}}" bindtap="tapProduct">
          <image src="{{item.default_photo.large ? item.default_photo.large : '../../image/default_img_product_list.png'}}" mode="aspectFill" />

          <view class='desc'>
            <view>
              <text class="title">{{item.name}}</text>
            </view>

            <view class='desc-bottom'>
              <text class="price">￥{{item.current_price}}</text>
               <view> 
                <text class="sales">{{item.sales_count}}人付款</text>
                <text class="sales">{{item.review_rate}}好评</text>
               </view> 
            </view>
          </view>

        </view>
      </block>

      <view class="tips">
        <view wx:if="{{ hasMore }}">
          <image src="/image/loading.gif" mode="aspectFill" />
          <text>玩了命的加载中...</text>
        </view>
        <view wx:else>
          <text>没有更多内容了</text>
        </view>
      </view>

    </view>
  </scroll-view>
  <loading hidden="{{ !loading }}">加载中...</loading>
</view>