<view class="container">
    <!-- 仿红包弹框 -->
    <view hidden='{{modalHidden}}' class="dialog-modal" catchtouchmove='moveD'>
        <view class='mask_layer' />
        <view class='modal_box' wx:if ="{{!isShow}}">
            <image bindtap='toIndex' src="../../image/hong-but-shut@3x.png" class="modal-close"></image>
            <image bindtap='openNext' src="../../image/hong-img-dak@3x.png" class="image"></image>
        </view>
        <view class='modal_box'  wx:if ="{{isShow}}">
            <image  src="../../image/hong-img-ner@3x.png" class="imageh"></image>
            <image bindtap='getRedPack' src="../../image/btn@3x.png" class="imageb"></image>
        </view>
    </view>
</view>