/* pages/changePassword/index.wxss */

.chang-input {
  
  margin-bottom: 70rpx;
  padding-left: 15px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;

  background: #FFF;

}

.chang-input input{
  height: 60px;
  color: #404245;
  font-size: 14pt;
  border-bottom: 1px solid #E5E5E5;
  padding-right: 15px;
}
.chang-input .placeholder {
  color: #C0C3CA;
  font-size: 14pt;
}