<view class="container">
  <!-- 搜索 -->

  <view class="top_navigator"  >
    
  <form action="" bindsubmit='bindSubmit'>
    <view class="section index-search">
      <text class='logo'></text>
      <input class="{{inputValue ? 'open' : 'close'}}" bindinput="bindInput" name='keyword' value='{{inputValue}}'  placeholder="请输入关键字搜索"  type="text" bindconfirm='bindChange'/>
      <view class="placeholder {{inputValue ? 'open' : 'close'}}">
        <icon type="search" size="13"/>
      </view>
      <view class="cancel {{inputValue ? 'open' : 'close'}}" bindtap="tapCancel">
        <text>取消</text>
      </view>
    </view>
  </form>
    <!-- <view class="fixed_nv">
      <navigator  url="../index/index" open-type="switchTab"> 首页 </navigator>
      <navigator class="{{item.id == currentItemId ? 'on' : ''}}"   wx:for-items="{{categories}}" wx:key="categories"  url="../categoryIndex/index?id={{item.id}}" > {{item.name}} </navigator>  </view> -->
  </view>


  <view class='category_index'>
    <view class='f_ad'  >
      <!-- <image  src="{{arr_ad1[0].src}}" id="{{arr_ad1[0].id}}" bindtap="tapAd" mode="widthFix"></image> -->
    </view>
    <!-- <view class='allf' wx:for="{{cat_detail}}" wx:key="item"> -->
      <!-- <view class="t">
        <text class='name'  bindtap="tapProductList" id="{{item.id}}">{{item.name}}</text>
        <text class='cat_desc'>{{item.cat_desc}}</text>
      </view> -->
      <view class="items" wx:for="{{goods}}" wx:for-item="items" wx:key="items" id="{{items.goods_id}}" data-act_id='{{items.act_id}}'  bindtap="tapProduct">
        <image src="{{items.goods_thumb}}" />
        <view class='desc'>
          <view class='brief' wx:if="{{items.goods_brief}}">{{items.goods_brief}}</view>
          <view class="name">{{items.act_name}}({{items.group_person_cnt}}人拼团)</view>
          <view class='prices'>
            <text class="current_price word_c">￥{{items.group_price}}</text>
            <text class="buy_num">已售{{items.virtual_sales}}件</text>
          </view>
        </view>
      </view>
    <!-- </view> -->
  </view>
</view>
<include src="../fdlibs/footer.wxml"/>